<% if @user.nil? %>
  <h3>You must be logged in to view your profile!</h3>
<% else %>
  <h1><%= @user.username %></h1>
  <% if (@user.title.nil? || @user.body.nil?) %>
    <h3>No profile for this user!</h3>
  <% else %>
    <h3><%= @user.title %></h3>
    <p><%= @user.body.html_safe %></p>
<% end %>
<% end %>
